html,
body {
  background-color: #fff;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: syne-reg;
  scroll-behavior: smooth;
}

@font-face {
  font-family: syne-reg;
  src: url("./syne.regular.otf");
}

@font-face {
  font-family: syne-bold;
  src: url("./syne.bold.otf");
}

a {
  text-decoration: none!important;
}

@media (max-width: 767.98px){
  .desktop {
    display: none!important;
  }
}

@media (min-width: 992px){
  .mobile {
    display: none!important;
  }
}

.pheader {
  background-color: #0A290A;
}

@media (min-width: 992px){
  .header .nav-link,
  .pheader .nav-link {
    margin-left: 40px;
  }
}

.btn-main,
.btn-main:hover {
  background: #228B22;
  border: #228B22;
}

.btn-footer,
.btn-footer:hover{
  background: transparent;
  border: 1px solid #fff;
}

.header .nav-link {
  color: #0E390E;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header .nav-link:hover {
  color: #228B22;
}

.pheader .nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

@media (min-width: 992px){
  .globe {
    margin-top: 15px;
  }
}

.herobg {
  background-image: url(./assets/herobg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.herobg p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.mt-9 {
  margin-top: 100px!important;
}

.whychoose {
  padding: 100px 20px;
}

.whychoose h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  color: #000;
  font-family: syne-bold;
}

.whychoose h6:hover {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #23A323;
}

.whychoose h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #999;
  cursor: pointer;
}

.bg-tape {
  background-color: #F9F9F9;
  padding: 50px 0px;
}

.bg-tape h3 {
  color: #9CA3AF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.bringyour {
  padding: 100px 20px;
}

.bringyour h3 {
  font-size: 55px;
  font-weight: 700;
  line-height: 66px;
  color: #000;
  font-family: syne-bold;
}

.bringyour .form-check-input:checked {
  background-color: #228B22;
  border-color: #228B22;
}

.bringyour .form-check-input {
  height: 2em;
  width: 2em;
  margin-top: -5px;
  margin-right: 8px;
}

.bringyour .form-check-label {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
}

.bringyour h2 {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: 992px){
  .bringyour .form-label {
    font-size: 110px;
    font-weight: 700;
    line-height: 134px;
    color: #000;
  }
}

@media (max-width: 767.98px){
  .bringyour .form-label {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #000;
  }
}

.features {
  background: linear-gradient(142.12deg, #F7FDF7 8.27%, #FFFBF5 87.64%);
  padding: 100px 20px;
}

.features h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.testimony {
  background-image: url(./assets/testimony.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.test-card {
  background-image: url(./assets/text.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4.29658px 37.5951px rgba(123, 120, 120, 0.08);
  border-radius: 9.23013px;
  padding: 30px 20px 60px 20px;
}

.test-card h6 {
  color: #9CA3AF;
  font-size: 21px;
  line-height: 27px;
  font-weight: 500;
}

.action {
  cursor: pointer!important;
}

.paybill {
  background-image: url(./assets/paybill.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.paybill h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 66px;
  color: #000;
  font-family: syne-bold;
}

.paybill h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.paybill h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.investor {
  background-color: #fff;
  padding: 100px 20px;
}

.investor h6,
.clients h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.invest {
  padding: 60px 20px;
  background: #fff;
  border-top-color: #FFC727;
  border-top-width: 2px;
  border-top-style: solid;
}

.invest-2 {
  border-top-color: #FF823B!important;
}

.invest-3 {
  border-top-color: #005FEE!important;
}

.invest-4 {
  border-top-color: #23A323!important;
}

.invest h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  font-family: syne-bold;
}

.clients {
  padding: 90px 20px;
}

.clients h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  color: #228B22;
  font-family: syne-bold;
}

.join {
  background-image: url(./assets/joinhargon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 30px;
  margin-top: 100px;
  margin-bottom: 120px;
  border-radius: 20px;
}

.join h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.clients hr {
  color: #F3F4F6;
  opacity: 1;
}

.clients p {
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  color: #4D4D4D;
}

.footer-bottom {
  background: #228B22;
  padding: 100px 20px 60px;
}

.navigation h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}

.navigation {
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
}

.copyright {
  padding: 25px 0;
}

.navigation p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.copyright h6 {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}

.list-unstyled {
  padding-left: 0;
}

.navigation a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}

.navigation a:hover {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}

.personalbg {
  padding: 150px 20px;
  background-color: #fff;
}

.personalbg p,
.educational p,
.allowance p,
.mortgage p,
.salary p,
.salaryadvance p,
.businesscredit p,
.paydayloan p,
.marketplace p,
.edu-hero p,
.focus p,
.intfund p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.educational {
  background-image: url(./assets/ed.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 20px;
}

.ed {
  padding: 20px 50px;
  background: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 2px;
  border-radius: 56px;
}

.allowance {
  background-image: url(./assets/allowance.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 20px;
}

.mortgage {
  padding: 150px 20px;
  background-color: #FFFDFA;
}

.salary {
  background-image: url(./assets/bgsalary.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  border-radius: 40px;
}

.salaryadvance {
  padding: 90px 20px;
  background: #fff;
}

.salaryadvance h2 {
  color: #000;
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
  font-family: syne-bold;
}

.t {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #fff 4.78%, #FFC727 97.92%)!important;
  -webkit-background-clip: text!important;
}

.ally {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #207D11 4.78%, #FFC00B 97.92%)!important;
  -webkit-background-clip: text!important;
}

.loanrange {
  background-image: url(./assets/backbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 301px 20px;
  margin-top: -91px;
  background-color: #fff;
}

.loany {
  background: #479f43;
  border: 1px solid #228B22;
  border-radius: 10px;
}

.businesscredit {
  background-image: url(./assets/acc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.paydayloan {
  background-image: url(./assets/paydayloan.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 20px;
}

.marketplace {
  background-image: url(./assets/exp.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.marketplace h6,
.expandbusiness h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.expandbusiness {
  background-image: url(./assets/credit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .expandbusiness h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 78px;
    color: #0E390E;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .expandbusiness h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: #0E390E;
  }
}

.expandbusiness h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #0E390E;
}

@media (min-width: 992px){
  .lef {
    margin-left: 111px;
  }
}

@media (min-width: 992px){
  .edu-hero {
    padding: 0px 0px 100px 0px;
    background-color: #fff;
  }
}

@media (max-width: 767.98px){
  .edu-hero {
    padding: 0px 20px 100px 20px;
    background-color: #fff;
  }
}

.edul {
  text-transform: uppercase;
  padding: 14px 25px;
  background: linear-gradient(106.62deg, rgba(32, 125, 17, 0.38) -22.4%, rgba(255, 192, 11, 0.4) 92.54%);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
}

.edu-hero h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  color: #041004;
  font-family: syne-bold;
}

.focus {
  background-image: url(./assets/focus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.focus h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  font-family: syne-bold;
}

.intfund {
  background-image: url(./assets/intbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.intfund h2 {
  color: #041004;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.schoolfees {
  background-image: url(./assets/feebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.pocket {
  background-image: url(./assets/pocketmoeny.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.pocket h2 {
  color: #041004;
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
  font-family: syne-bold;
}

.pocket p,
.schoolfees p {
  color: #041004;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: 992px){
  .sf {
    margin-top: 150px;
  }
}

.sal-hero {
  background-image: url(./assets/back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.sal-hero p {
  color: #041004;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.pd-loan {
  background-image: url(./assets/pdl.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.emerge {
  background-image: url(./assets/ebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.pd-loan h6 {
  color: #6B7280;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
}

.first-step {
  background: linear-gradient(105.38deg, rgba(32, 125, 17, 0.1) 17.57%, rgba(255, 192, 11, 0.1) 75.58%);
  padding: 100px 60px 200px 60px;
}

.second-step {
  background: #228B22;
  padding: 100px 60px;
}

.first-step h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: syne-bold;
}

.first-step p {
  color: #020518;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.mp-hero {
  background-image: url(./assets/mpbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.mp-hero p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.buynow {
  background: #fff;
  padding: 60px 20px 100px 20px;
}

.vendor {
  background-image: url(./assets/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.ven {
  color: #228B22;
  font-size: 16px;
  background: #F3FCF3;
  padding: 15px 44px;
  border-radius: 100px;
}

.inv {
  background-image: url(./assets/moneybg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.inv p {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.hc {
  background-color: #F4FCF2;
  padding: 100px 20px;
}

.hc p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.hc h2 {
  color: #000000;
  font-size: 65px;
  font-weight: 600;
  line-height: 78px;
  font-family: syne-bold;
}

.mo-hero {
  background-color: #092A09;
  padding: 150px 20px;
}

.mo-hero h2,
.renting h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  font-family: syne-bold;
}

.mo-hero p,
.ownership p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #959595;
}

.ownership {
  background-image: url(./assets/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.ownership h6,
.renting h6,
.realestate h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #020518;
}

.renting {
  background-image: url(./assets/renting.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.renting p,
.realestate p {
  color: #041004;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

.realestate {
  background-image: url(./assets/house.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.realestate h2 {
  color: #fff;
  font-size: 70px;
  font-weight: 500;
  line-height: 70px;
}

.tour-hero {
  background-image: url(./assets/tourbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.tour-hero p {
  color: #505151;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.tour-loan {
  background-color: #fff;
  padding: 70px 20px 100px 20px;
}

.dreamvac {
  background-image: url(./assets/plane.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 149px 20px;
  border-radius: 100px 100px 0px 0px;
}

.dreamvac h5 {
  color: #B8BBB8;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.travel p {
  color: #020518;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.dreamvac p {
  color: #7C947C;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

.dreamvac h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
}

.travel {
  background-image: url(./assets/travel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.travel h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: syne-bold;
}

@media (min-width: 992px){
  .solution-menu {
    min-width: 470px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 30px;
  }
}

@media (min-width: 992px){
  .company-menu {
    min-width: 240px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 30px;
  }
}

.sol-menu h6 {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sol-menu h6:hover {
  color: #228B22;
}

.fixed-hero {
  background-image: url(./assets/fixedhero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.fixed-hero p {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.w-87 {
  width: 87%!important;
}

.digi {
  background-image: url(./assets/db.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.digi h2 {
  color: #228B22;
  font-size: 55px;
  font-weight: 500;
  line-height: 74px;
}

.digi p {
  color: #041004;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.lowerrisk h5 {
  color: #FACC15;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.lowerrisk {
  background-image: url(./assets/fixedd.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 20px;
}

.lowerrisk p {
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
}

.save-hargon {
  background-image: url(./assets/sh.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .rowwie {
    padding-left: 150px;
  }
}

.pawn-hero {
  background-color: #fff;
  padding: 100px 20px;
}

.pawn-hero h2 {
  color: #000000;
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
}

.p-shop {
  background: #FFF9F0;
  padding: 15px 28px;
  color: #FFAB37;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 4px;
  border-radius: 50px;
}

.sim {
  background: #fff9f0;
  padding: 0px 30px;
  border-radius: 76px;
  color: #FFAB37;
}

.pawn-hero p {
  color: #787878;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.fair {
  background-image: url(./assets/fair.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.fair h2 {
  color: #787878;
  font-size: 60px;
  line-height: 80px;
  font-weight: 500;
}

.fair p {
  color: #787878;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.pawncredit {
  background-color: #fff;
  padding: 100px 20px;
}

.pawncredit h2 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  font-family: syne-bold;
}

.pawncredit h6 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #020518;
}

.pawncredit p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #787878;
}

.pawns {
  background-image: url(./assets/pwn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.pawns h2 {
  color: #F2C94C;
  font-size: 60px;
  line-height: 65px;
  font-weight: 500;
}

.pawns p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.comhero {
  background: linear-gradient(282.34deg, #179942 0.71%, #0A2A0A 112.18%);
  padding: 100px 20px;
}

.comhero h2 {
  color: #fff;
  font-size: 55px;
  line-height: 65px;
  font-weight: 500;
}

.comhero p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.b-bridge {
  background-image: url(./assets/build.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.b-bridge h2 {
  color: #000000;
  font-size: 65px;
  line-height: 85px;
  font-weight: 500;
}

.b-bridge p {
  color: #949494;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.b-bridge h6 {
  color: #328A28;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.bb {
  background: linear-gradient(123.44deg, #228B22 5.38%, #FFBD00 68.08%);
  border-radius: 2px;
  padding: 3px 30px;
  color: #fff;
  margin-left: -22px;
}

.cluster {
  background-image: url(./assets/easyy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.paymentterms {
  padding: 100px 20px;
  background-color: #fff;
}

.paymentterms h2 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #228B22 4.78%, #F2994A 97.92%)!important;
  -webkit-background-clip: text!important;
  font-size: 60px;
  line-height: 65px;
  font-weight: 500;
  font-family: syne-bold;
}

.source-card {
  background-image: url(./assets/singlebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.source-card p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.agency-hero {
  padding: 100px 20px;
  background-color: #fff;
}

.agency-hero p,
.bi-sec p,
.access-sec p,
.p-sec p,
.i-rate p,
.capital-hero p,
.cap p,
.vc-sec p,
.be-sec p,
.dreams-sec p,
.ml-hero p,
.payback p {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.access-sec {
  background-image: url(./assets/access.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 350px 20px;
}

.access-sec h2 {
  color: #FFBD00;
  font-size: 65px;
  line-height: 78px;
  font-weight: 600;
  font-family: syne-bold;
}

.p-sec {
  background: linear-gradient(105.38deg, rgba(32, 125, 17, 0.1) 17.57%, rgba(255, 192, 11, 0.1) 75.58%);
  padding: 100px 20px;
}

.p-sec h2 {
  color: #23A323;
  font-size: 65px;
  line-height: 78px;
  font-weight: 600;
  font-family: syne-bold;
}


.i-rate {
  background-image: url(./assets/tbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.capital-hero {
  background-image: url(./assets/capitalbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .capital-hero h2 {
    font-size: 70px;
    line-height: 84px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .capital-hero h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

.cap {
  background-image: url(./assets/cap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .cap h2 {
    font-size: 95px;
    line-height: 114px;
    font-weight: 700;
    font-family: syne-bold;
    color: #23A323;
    text-transform: uppercase;
  }
}

@media (max-width: 767.98px){
  .cap h2 {
    font-size: 60px;
    line-height: 64px;
    font-weight: 700;
    font-family: syne-bold;
    color: #23A323;
    text-transform: uppercase;
  }
}

.vc-sec {
  background-image: url(./assets/vc.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.bi-sec {
  background-image: url(./assets/bi.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 20px;
}

.be-sec {
  padding: 100px 20px;
  background-color: #fff;
}

@media (min-width: 992px){
  .be-sec h2 {
    font-size: 100px;
    line-height: 120px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .be-sec h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

.dreams-sec {
  background-image: url(./assets/capbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.sl-hero {
  background-image: url(./assets/slbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.sl-hero p,
.emp p,
.pay-roll p,
.empower p,
.coll-card p {
  color: #4D4D4D;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.sl-hero h2 {
  color: #000000;
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  font-family: syne-bold;
}

.loan-sl {
  background-image: url(./assets/gra.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px; 
}

@media (min-width: 992px){
  .pay-roll {
    background-image: url(./assets/payroll.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 350px 20px; 
  }
}

@media (max-width: 767.98px){
  .pay-roll {
    background-image: url(./assets/payroll.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px; 
  }
}

.ml-hero {
  padding: 100px 20px;
  background: #fff;
}

.ml-hero h2 {
  font-size: 56px;
  line-height: 79px;
  font-weight: 600;
  color: #041004;
  font-family: syne-bold;
}

.fife {
  color: #23A323;
  background: #F2FCF2;
  padding: 0px 30px;
  border-radius: 50px;
  margin-left: -26px;
}

.empower {
  background-image: url(./assets/ep.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}


.payback {
  background-image: url(./assets/payback.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}


.payback h6 {
  color: #FFBD00;
  font-size: 32px;
  line-height: 35px;
  font-weight: 400;
}

.no-c {
  background-image: url(./assets/no-c.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.coll-card {
  background-image: url(./assets/coll-card.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 92px 20px;
}

@media (min-width: 992px){
  .coll-card h2 {
    color: #fff;
    font-size: 84px;
    line-height: 101px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .payback h2 {
    color: #23A323;
    font-size: 80px;
    line-height: 84px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .empower h2 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    color: #fff;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .coll-card h2 {
    color: #fff;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .payback h2 {
    color: #23A323;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .empower h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    font-family: syne-bold;
  }

}