@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

html,
body {
  background-color: #fff;
  overflow-x: hidden!important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: syne-reg;
  scroll-behavior: smooth;
}


@font-face {
  font-family: syne-reg;
  src: url("./syne.regular.otf");
}

@font-face {
  font-family: syne-bold;
  src: url("./syne.bold.otf");
}

a {
  text-decoration: none!important;
}

@media (max-width: 767.98px){
  .desktop {
    display: none!important;
  }
}

@media (min-width: 992px){
  .mobile {
    display: none!important;
  }
}

.pheader {
  background-color: #0A290A;
}

@media (min-width: 992px){
  .header .nav-link,
  .pheader .nav-link {
    margin-left: 40px;
  }
}

@media (max-width: 767.98px){
  .header .nav-link,
  .pheader .nav-link {
    padding: 20px;
  }
}

.btn-main,
.btn-main:hover {
  background: #228B22;
  border: #228B22;
}

.btn-footer,
.btn-footer:hover{
  background: transparent;
  border: 1px solid #fff;
}

.header .nav-link {
  color: #0E390E;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.header .nav-link:hover {
  color: #228B22;
}

.pheader .nav-link {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

@media (min-width: 992px){
  .globe {
    margin-top: 15px;
  }
}

.herobg {
  background-image: url(./assets/herobg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.herobg p,
.flexreplay p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.mt-9 {
  margin-top: 100px!important;
}

.whychoose {
  padding: 100px 20px;
}

.whychoose h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  color: #000;
  font-family: syne-bold;
}

.whychoose h6:hover {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #23A323;
}

.whychoose h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: #999;
  cursor: pointer;
}

.bg-tape {
  padding: 180px 0px;
  background-image: url(./assets/loanable.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-tape h3 {
  color: #9CA3AF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.bringyour {
  padding: 100px 20px;
}

.bringyour h3 {
  font-size: 55px;
  font-weight: 700;
  line-height: 66px;
  color: #000;
  font-family: syne-bold;
}

.bringyour .form-check-input:checked {
  background-color: #228B22;
  border-color: #228B22;
}

.bringyour .form-check-input {
  height: 2em;
  width: 2em;
  margin-top: -5px;
  margin-right: 8px;
}

.bringyour .form-check-label {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
}

.bringyour h2 {
  color: #9CA3AF;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

@media (min-width: 992px){
  .bringyour .form-label {
    font-size: 110px;
    font-weight: 700;
    line-height: 134px;
    color: #000;
  }
}

@media (max-width: 767.98px){
  .bringyour .form-label {
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    color: #000;
  }
}

.features {
  background: linear-gradient(142.12deg, #F7FDF7 8.27%, #FFFBF5 87.64%);
  padding: 100px 20px;
}

.features h6 {
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.testimony {
  background-image: url(./assets/testimony.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.test-card {
  background-image: url(./assets/text.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4.29658px 37.5951px rgba(123, 120, 120, 0.08);
  border-radius: 9.23013px;
  padding: 30px 20px 60px 20px;
}

.test-card h6 {
  color: #9CA3AF;
  font-size: 21px;
  line-height: 27px;
  font-weight: 500;
}

.action {
  cursor: pointer!important;
}

.paybill {
  background-image: url(./assets/paybill.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.paybill h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 66px;
  color: #000;
  font-family: syne-bold;
}

.paybill h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.paybill h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.investor {
  background-color: #fff;
  padding: 100px 20px;
}

.investor h6,
.clients h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #000;
}

.invest {
  padding: 60px 20px;
  background: #fff;
  border-top-color: #FFC727;
  border-top-width: 2px;
  border-top-style: solid;
}

.invest-2 {
  border-top-color: #FF823B!important;
}

.invest-3 {
  border-top-color: #005FEE!important;
}

.invest-4 {
  border-top-color: #23A323!important;
}

.invest h5 {
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  font-family: syne-bold;
}

.clients {
  padding: 90px 20px;
}

.clients h2 {
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
  color: #228B22;
  font-family: syne-bold;
}

.join {
  background-image: url(./assets/joinhargon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 30px;
  margin-top: 100px;
  margin-bottom: 120px;
  border-radius: 20px;
}

.join h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.clients hr {
  color: #F3F4F6;
  opacity: 1;
}

.clients p {
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
  color: #4D4D4D;
}

.footer-bottom {
  background: #228B22;
  padding: 100px 20px 60px;
}

.navigation h5 {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}

.navigation {
  border-bottom: 1px solid #fff;
  padding-bottom: 60px;
}

.copyright {
  padding: 25px 0;
}

.navigation p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

.copyright h6 {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}

.list-unstyled {
  padding-left: 0;
}

.navigation a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}

.navigation a:hover {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 32px;
}

.personalbg {
  padding: 100px 20px;
  background-color: #fff;
}

.personalbg p,
.educational p,
.allowance p,
.mortgage p,
.salary p,
.salaryadvance p,
.businesscredit p,
.paydayloan p,
.marketplace p,
.edu-hero p,
.focus p,
.intfund p {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.educational {
  background-image: url(./assets/ed.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 20px;
}

.ed {
  padding: 20px 50px;
  background: #fff;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 21px;
  letter-spacing: 2px;
  border-radius: 56px;
}

.allowance {
  background-image: url(./assets/allowance.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 20px;
}

.mortgage {
  padding: 150px 20px;
  background-color: #FFFDFA;
}

.salary {
  background-image: url(./assets/bgsalary.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  border-radius: 40px;
}

.salaryadvance {
  padding: 90px 20px;
  background: #fff;
}

.salaryadvance h2 {
  color: #000;
  font-size: 65px;
  font-weight: 700;
  line-height: 78px;
  font-family: syne-bold;
}

.po {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #FF823B 4.78%, #169323 97.92%)!important;
  -webkit-background-clip: text!important;
}

.t {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #fff 4.78%, #FFC727 97.92%)!important;
  -webkit-background-clip: text!important;
}

.ally {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #207D11 4.78%, #FFC00B 97.92%)!important;
  -webkit-background-clip: text!important;
}

.loanrange {
  background-image: url(./assets/backbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 301px 20px;
  margin-top: -91px;
  background-color: #fff;
}

.loany {
  background: #479f43;
  border: 1px solid #228B22;
  border-radius: 10px;
}

.businesscredit {
  background-image: url(./assets/acc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.paydayloan {
  background-image: url(./assets/paydayloan.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 20px;
}

.marketplace {
  background-image: url(./assets/exp.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.marketplace h6,
.expandbusiness h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.expandbusiness {
  background-image: url(./assets/credit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .expandbusiness h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 78px;
    color: #0E390E;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .expandbusiness h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    color: #0E390E;
  }
}

.expandbusiness h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #0E390E;
}

@media (min-width: 992px){
  .lef {
    margin-left: 111px;
  }
}

@media (min-width: 992px){
  .edu-hero {
    padding: 0px 0px 100px 0px;
    background-color: #fff;
  }
}

@media (max-width: 767.98px){
  .edu-hero {
    padding: 0px 20px 100px 20px;
    background-color: #fff;
  }
}

.edul {
  text-transform: uppercase;
  padding: 14px 25px;
  background: linear-gradient(106.62deg, rgba(32, 125, 17, 0.38) -22.4%, rgba(255, 192, 11, 0.4) 92.54%);
  border-radius: 3px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
}

.edu-hero h2 {
  font-size: 54px;
  font-weight: 500;
  line-height: 65px;
  color: #041004;
  font-family: syne-bold;
}

.focus {
  background-image: url(./assets/focus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.focus h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  font-family: syne-bold;
}

.intfund {
  background-image: url(./assets/intbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.intfund h2 {
  color: #041004;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
}

.schoolfees {
  background-image: url(./assets/feebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.pocket {
  background-image: url(./assets/pocketmoeny.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.pocket h2 {
  color: #041004;
  font-size: 100px;
  font-weight: 700;
  line-height: 120px;
  font-family: syne-bold;
}

.pocket p,
.schoolfees p {
  color: #041004;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: 992px){
  .sf {
    margin-top: 150px;
  }
}

.sal-hero {
  background-image: url(./assets/back.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.sal-hero p {
  color: #041004;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.pd-loan {
  background-image: url(./assets/pdl.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.emerge {
  background-image: url(./assets/ebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.pd-loan h6 {
  color: #6B7280;
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
}

.first-step {
  background: linear-gradient(105.38deg, rgba(32, 125, 17, 0.1) 17.57%, rgba(255, 192, 11, 0.1) 75.58%);
  padding: 100px 60px 200px 60px;
}

.second-step {
  background: #228B22;
  padding: 100px 60px;
}

.first-step h2 {
  color: #000000;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: syne-bold;
}

.first-step p {
  color: #020518;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
}

.mp-hero {
  background-image: url(./assets/mpbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.mp-hero p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.buynow {
  background: #fff;
  padding: 60px 20px 100px 20px;
}

.vendor {
  background-image: url(./assets/back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

.ven {
  color: #228B22;
  font-size: 16px;
  background: #F3FCF3;
  padding: 15px 44px;
  border-radius: 100px;
}

.inv {
  background-image: url(./assets/moneybg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.inv p {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.hc {
  background-color: #F4FCF2;
  padding: 100px 20px;
}

.hc p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.hc h2 {
  color: #000000;
  font-size: 65px;
  font-weight: 600;
  line-height: 78px;
  font-family: syne-bold;
}

.mo-hero {
  background-color: #fff;
  padding: 100px 20px;
}

.mo-hero h2,
.renting h2 {
  font-size: 60px;
  font-weight: 600;
  line-height: 72px;
  font-family: syne-bold;
}

.mo-hero p,
.ownership p {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #959595;
}

.ownership {
  background-color: #F2FCF2;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .ownership h2 {
    font-size: 65px;
    font-weight: 600;
    line-height: 74px;
    color: #000;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .ownership h2 {
    font-size: 55px;
    font-weight: 600;
    line-height: 60px;
    color: #000;
    font-family: syne-bold;
  }
}

.ownership h6,
.renting h6,
.realestate h6 {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: #020518;
}

.renting {
  background-color: #fff;
  padding: 100px 20px;
}

.renting p,
.realestate p {
  color: #041004;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

.realestate {
  background-image: url(./assets/ysyc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.realestate h2 {
  color: #fff;
  font-size: 80px;
  font-weight: 600;
  line-height: 96px;
  font-family: syne-bold;
}

.tour-hero {
  /* background-image: url(./assets/tourbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #fff;
  padding: 100px 20px;
}

.tour-hero p {
  color: #505151;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@media (min-width: 992px){
  .tour-im  {
    margin-left: 64px;
  }
}

.tour-loan {
  background-color: #fff;
  padding: 70px 20px 100px 20px;
}

.dreamvac {
  background-image: url(./assets/plane.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 149px 20px;
  border-radius: 100px 100px 0px 0px;
}

.dreamvac h5 {
  color: #B8BBB8;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.travel p {
  color: #020518;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.dreamvac p {
  color: #7C947C;
  font-size: 12px;
  font-weight: 500;
  line-height: 17px;
}

.dreamvac h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 40px;
}

.travel {
  background-image: url(./assets/travel.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.travel h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  font-family: syne-bold;
}

@media (min-width: 992px){
  .solution-menu {
    min-width: 470px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 30px;
  }
}

@media (max-width: 767.98px){
  .solution-menu {
    /* min-width: 470px!important; */
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 20px 30px;
  }

  .company-menu {
    /* min-width: 240px!important; */
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 20px 30px;
  }
}

@media (min-width: 992px){
  .company-menu {
    min-width: 240px!important;
    border: 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.11);
    border-radius: 20px;
    padding: 30px 30px;
  }
}

.sol-menu h6 {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.sol-menu h6:hover {
  color: #228B22;
}

.fixed-hero {
  background-color: #fff;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .start {
    color: #23A323;
    font-size: 14px;
    background: #F7FDF7;
    padding: 15px 30px;
    border-radius: 50px;
  }

  .sfimg {
    margin-top: -118px;
  }
}

@media (max-width: 767.98px){
  .start {
    color: #23A323;
    font-size: 14px;
    background: #F7FDF7;
    padding: 15px 15px;
    border-radius: 50px;
  }
}

.fixed-hero h2 {
  color: #041004;
  font-size: 39px;
  font-weight: 600;
  line-height: 63px;
  font-family: syne-bold;
}

.fixed-hero h3 {
  color: #23A323;
  font-size: 70px;
  font-weight: 600;
  line-height: 72px;
  font-family: syne-bold;
}


.fixed-hero p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.w-87 {
  width: 87%!important;
}

.digi {
  background-image: url(./assets/ysyc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.digi h2 {
  color: #228B22;
  font-size: 55px;
  font-weight: 500;
  line-height: 74px;
}

.digi p {
  color: #041004;
  font-size: 14px;
  font-weight: 500;
  margin-left: 69px;
  line-height: 24px;
}

.lowerrisk h5 {
  color: #FACC15;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.lowerrisk {
  background-color: #fff;
  padding: 100px 20px;
}

.lowerrisk p,
.save-hargon p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

@media (min-width: 992px){
  .skewww {
    rotate: -5deg;
  }
}

.save-hargon {
  background-image: url(./assets/savvy.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.worker {
  background-image: url(./assets/howsave.png);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.savingthrive {
  background-color: #fff;
  padding: 100px 20px;
}

.savingthrive h3 {
  color: #041004;
  font-size: 40px;
  font-weight: 600;
  line-height: 80px;
  font-family: syne-bold;
}

.thrive-card h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #000;
}

.thrive-card p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000;
}

.thrive-card {
  padding: 35px 35px;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  cursor: pointer;
  min-height: 262px;
}

.thrive-card:hover {
  padding: 35px 35px;
  background: linear-gradient(282.34deg, #FFC00B 0.71%, #207D11 112.18%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  min-height: 262px;
}

.thrive-card:hover h6{
  color: #fff;
}

.thrive-card:hover p {
  color: #fff;
}

.savingthrive h2 {
  color: #041004;
  font-size: 51px;
  font-weight: 600;
  line-height: 80px;
  font-family: syne-bold;
}

@media (min-width: 992px){
  .rowwie {
    padding-left: 150px;
  }
}

.pawn-hero {
  background-color: #fff;
  padding: 100px 20px;
}

.pawn-hero h2 {
  color: #000000;
  font-size: 80px;
  font-weight: 500;
  line-height: 80px;
}

.p-shop {
  background: #FFF9F0;
  padding: 15px 28px;
  color: #FFAB37;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 4px;
  border-radius: 50px;
}

.sim {
  background: #fff9f0;
  padding: 0px 30px;
  border-radius: 76px;
  color: #FFAB37;
}

.pawn-hero p {
  color: #787878;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.fair {
  background-image: url(./assets/fair.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.fair h2 {
  color: #787878;
  font-size: 60px;
  line-height: 80px;
  font-weight: 500;
}

.fair p {
  color: #787878;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.pawncredit {
  background-color: #fff;
  padding: 100px 20px;
}

.pawncredit h2 {
  font-size: 70px;
  line-height: 80px;
  font-weight: 700;
  font-family: syne-bold;
}

.pawncredit h6 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #020518;
}

.pawncredit p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #787878;
}

.pawns {
  background-image: url(./assets/pwn.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.pawns h2 {
  color: #F2C94C;
  font-size: 60px;
  line-height: 65px;
  font-weight: 500;
}

.pawns p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.comhero {
  background: linear-gradient(282.34deg, #179942 0.71%, #0A2A0A 112.18%);
  padding: 100px 20px;
}

.comhero h2 {
  color: #fff;
  font-size: 55px;
  line-height: 65px;
  font-weight: 500;
}

.comhero p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.b-bridge {
  background-image: url(./assets/build.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.b-bridge h2 {
  color: #000000;
  font-size: 65px;
  line-height: 85px;
  font-weight: 500;
}

.b-bridge p {
  color: #949494;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.b-bridge h6 {
  color: #328A28;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.bb {
  background: linear-gradient(123.44deg, #228B22 5.38%, #FFBD00 68.08%);
  border-radius: 2px;
  padding: 3px 30px;
  color: #fff;
  margin-left: -22px;
}

.cluster {
  background-image: url(./assets/easyy.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.paymentterms {
  padding: 100px 20px;
  background-color: #fff;
}

.paymentterms h2 {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(91.8deg, #228B22 4.78%, #F2994A 97.92%)!important;
  -webkit-background-clip: text!important;
  font-size: 60px;
  line-height: 65px;
  font-weight: 500;
  font-family: syne-bold;
}

.source-card {
  background-image: url(./assets/singlebg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
  border-radius: 10px;
  margin-top: 50px;
}

.source-card p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
}

.agency-hero {
  padding: 100px 20px;
  background-color: #fff;
}

.agency-hero p,
.bi-sec p,
.access-sec p,
.p-sec p,
.i-rate p,
.capital-hero p,
.cap p,
.vc-sec p,
.be-sec p,
.dreams-sec p,
.ml-hero p,
.payback p,
.pcc p,
.flex-cc p,
.qc-hero p,
.hob p {
  color: #333333;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.access-sec {
  background-image: url(./assets/access.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 350px 20px;
}

.access-sec h2 {
  color: #FFBD00;
  font-size: 65px;
  line-height: 78px;
  font-weight: 600;
  font-family: syne-bold;
}

.p-sec {
  background: linear-gradient(105.38deg, rgba(32, 125, 17, 0.1) 17.57%, rgba(255, 192, 11, 0.1) 75.58%);
  padding: 100px 20px;
}

.p-sec h2 {
  color: #23A323;
  font-size: 65px;
  line-height: 78px;
  font-weight: 600;
  font-family: syne-bold;
}


.i-rate {
  background-image: url(./assets/tbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.capital-hero {
  background-image: url(./assets/capitalbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .capital-hero h2 {
    font-size: 70px;
    line-height: 84px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .capital-hero h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

.cap {
  background-image: url(./assets/cap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .cap h2 {
    font-size: 95px;
    line-height: 114px;
    font-weight: 700;
    font-family: syne-bold;
    color: #23A323;
    text-transform: uppercase;
  }
}

@media (max-width: 767.98px){
  .cap h2 {
    font-size: 60px;
    line-height: 64px;
    font-weight: 700;
    font-family: syne-bold;
    color: #23A323;
    text-transform: uppercase;
  }
}

.vc-sec {
  background-image: url(./assets/vc.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.bi-sec {
  background-image: url(./assets/bi.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 300px 20px;
}

.be-sec {
  padding: 100px 20px;
  background-color: #fff;
}

@media (min-width: 992px){
  .be-sec h2 {
    font-size: 100px;
    line-height: 120px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .be-sec h2 {
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
    font-family: syne-bold;
  }
}

.dreams-sec {
  background-image: url(./assets/capbg.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.sl-hero {
  background-image: url(./assets/slbg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.sl-hero p,
.emp p,
.pay-roll p,
.empower p,
.coll-card p,
.nhc p,
.bill-con h6,
.auto-card p {
  color: #4D4D4D;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.sl-hero h2 {
  color: #000000;
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  font-family: syne-bold;
}

.loan-sl {
  background-image: url(./assets/gra.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px; 
}

@media (min-width: 992px){
  .pay-roll {
    background-image: url(./assets/payroll.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 350px 20px; 
  }
}

@media (max-width: 767.98px){
  .pay-roll {
    background-image: url(./assets/payroll.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px; 
  }
}

.ml-hero {
  padding: 100px 20px;
  background: #fff;
}

.ml-hero h2 {
  font-size: 56px;
  line-height: 79px;
  font-weight: 600;
  color: #041004;
  font-family: syne-bold;
}

.fife {
  color: #23A323;
  background: #F2FCF2;
  padding: 0px 30px;
  border-radius: 50px;
  margin-left: -26px;
}

.empower {
  background-image: url(./assets/ep.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}


.payback {
  background-image: url(./assets/payback.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}


.payback h6 {
  color: #FFBD00;
  font-size: 32px;
  line-height: 35px;
  font-weight: 400;
}

.no-c {
  background-image: url(./assets/no-c.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.coll-card {
  background-image: url(./assets/coll-card.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 92px 20px;
}

@media (min-width: 992px){
  .coll-card h2 {
    color: #fff;
    font-size: 84px;
    line-height: 101px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .payback h2 {
    color: #23A323;
    font-size: 80px;
    line-height: 84px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .empower h2 {
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    color: #fff;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .coll-card h2 {
    color: #fff;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .payback h2 {
    color: #23A323;
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    font-family: syne-bold;
  }

  .empower h2 {
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    color: #fff;
    font-family: syne-bold;
  }

}

.cc-hero {
  background-color: #fff;
  padding: 100px 20px;
}

.cc-hero p,
.dp p,
.zero p,
.shop-travel p,
.how-it p,
.reg p,
.inst-cred p,
.pay p
 {
  color: #6B7280;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.dp {
  background-image: url(./assets/google.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.dp h2 {
  color: #FFA65B;
  font-size: 85px;
  line-height: 102px;
  font-weight: 700;
  font-family: syne-bold;
}

.dp h6 {
  font-size: 55px;
  line-height: 66px;
  font-weight: 700;
  font-family: syne-bold;
}

.pickcard {
  background-image: url(./assets/pickcard.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.card-cc {
  background-image: url(./assets/bg-cc.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 60px;
  margin-top: 100px;
  border-radius: 10px;
}

@media (min-width: 992px){
  .cards- {
    margin-top: -374px;
  }
}

.zero {
  background-color: #fff;
  padding: 100px 20px;
}

.zero h2 {
  color: #000;
  font-size: 60px;
  line-height: 72px;
  font-weight: 700;
  font-family: syne-bold;
}

.pcc,
.flex-cc,
.pcrd,
.merchant-hero {
  background-color: #fff;
  padding: 100px 20px;
}

.pcc h2 {
  color: #041004;
  font-size: 52px;
  line-height: 69px;
  font-weight: 600;
  font-family: syne-bold;
}

.hargon-cred {
  background-image: url(./assets/life.svg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 20px;
}

.hargon-cred h2 {
  color: #000;
  font-size: 45px;
  line-height: 61px;
  font-weight: 700;
  font-family: syne-bold;
}

.hargon-cred p {
  color: #333333;
  font-size: 16px;
  line-height: 33px;
  font-weight: 500;
}

@media (min-width: 992px){
  .shop-travel {
    background-image: url(./assets/shoptravel.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 552px 20px;
  }

  .shop-img {
    margin-top: -392px;
  }
}

@media (max-width: 767.98px){
  .shop-travel {
    background: #23A323;
    padding: 100px 20px;
  }

}


.shop-span {
  color: #fff;
  font-size: 60px;
  font-weight: 600;
  font-family: syne-bold;
}

.shop-travel h2 {
  color: #FFBD00;
  font-size: 80px;
  line-height: 90px;
  font-weight: 600;
  font-family: syne-bold;
}

.flex-cc h2 {
  color: #041004;
  font-size: 65px;
  line-height: 85px;
  font-weight: 500;
  font-family: syne-bold;
}

.gold-card {
  background-image: url(./assets/gold-1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 30px;
  min-height: 286px;
  border-radius: 10px;
}

.gold-2 {
  background-image: url(./assets/gold-2.svg)!important;
}

.gold-3 {
  background-image: url(./assets/gold-3.svg)!important;
}

.gold-4 {
  background-image: url(./assets/gold-4.svg)!important;
}

.c-gold {
  margin-top: 58px;
}

.gold-card h6 {
  color: #fff;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
}

@media (min-width: 992px){
  .pcrd h2 {
    color: #041004;
    font-size: 101px;
    line-height: 133px;
    font-weight: 600;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .pcrd h2 {
    color: #041004;
    font-size: 60px;
    line-height: 73px;
    font-weight: 600;
    font-family: syne-bold;
  }
}

.merchant-hero h2,
.hargonp h2,
.reg h2 {
  color: #041004;
  font-size: 45px;
  line-height: 54px;
  font-weight: 700;
  font-family: syne-bold;
}

.hargonp {
  background-image: url(./assets/wph.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .how-it {
    background-image: url(./assets/123.png);
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    padding: 562px 20px;
  }
}

@media (max-width: 767.98px){
  .how-it {
   background-color: #fff;
   padding: 100px 20px;
  }
}

.how-it h2 {
  color: #FF823B;
  font-size: 65px;
  line-height: 78px;
  font-weight: 700;
  font-family: syne-bold;
}

@media (min-width: 992px){
  .how-it-img {
    margin-top: -306px;
  }
}

.reg {
  background-color: #F3FCF3;
  padding: 100px 20px;
  margin-top: 40px;
}

.p-cs {
  background: #23A323;
  color: #fff;
  padding: 7px 10px;
  font-size: 9px;
  border-radius: 50px;
  margin-left: 8px;
  font-weight: 500;
}

.f-cs {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 10px;
  font-size: 9px;
  border-radius: 50px;
  margin-left: 8px;
  font-weight: 500;
}

@media (min-width: 992px){
  .p-bi li {
    float: left;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px #fff solid;
  }
  .p-b li {
    float: left;
    padding: 0 10px;
    font-size: 14px;
    border-right: 1px #0E390E solid;
  }

  .p-b li:last-child {
    border-right: none;
  }

  .p-bi li:last-child {
    border-right: none;
  }

  .navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: -0.5rem;
  }
}

.step-card {
  background-image: url(./assets/step1.svg);
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 40px;
}

.step2 {
  background-image: url(./assets/step2.svg)!important;
}

.step3 {
  background-image: url(./assets/step3.svg)!important;
}

.step4 {
  background-image: url(./assets/step4.svg)!important;
}

.step-card h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #000;
}

@media (min-width: 992px){
  .oney{ 
    margin-top: 200px;
  }
}

@media (min-width: 992px){
  .oranje {
    float: right;
    margin-top: -77px;
  }
}

.flexreplay {
  background: #fff;
  padding: 100px 20px;
}

.l-mortgage {
  background-image: url(./assets/hm.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 20px;
}

.qc-hero {
  background: #fff;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .qc-hero h2 {
    color: #041004;
    font-size: 80px;
    line-height: 97px;
    font-weight: 600;
    font-family: syne-bold;
  }
  .three h2 {
    color: #041004;
    font-size: 60px;
    line-height: 79px;
    font-weight: 600;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .qc-hero h2 {
    color: #041004;
    font-size: 50px;
    line-height: 67px;
    font-weight: 600;
    font-family: syne-bold;
  }
  .three h2 {
    color: #041004;
    font-size: 50px;
    line-height: 79px;
    font-weight: 600;
    font-family: syne-bold;
  }
}

@media (min-width: 992px){
  .ql-img {
    margin-top: 160px;
  }
}

.inst-cred {
  background-color: #F2FCF2;
  padding: 100px 20px;
}

.pay,
.three {
  background: #fff;
  padding: 100px 20px;
}


.pay h2 {
  color: #041004;
  font-size: 44px;
  line-height: 58px;
  font-weight: 600;
  font-family: syne-bold;
}

.products-cards {
  padding: 20px 20px;
  cursor: pointer;
}

.products-cards:hover {
  background-color: #23A323;
  box-shadow: 0px 3.643751859664917px 63.76565933227539px 0px rgba(35, 163, 35, 0.13);
  border-radius: 10px;
}

.products-cards:hover h6 {
  color: #fff;
}

.cashb {
  background-image: url(./assets/cashback.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 140px 20px;
  /* background-position: center; */
}

@media (min-width: 992px){
  .upf {
    background-image: url(./assets/stp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 37px 55px 70px;
    background-position: center;
    text-align: center;
  }
}

@media (max-width: 767.98px){
  .upf {
    background: #fff;
    padding: 54px 55px;
    text-align: center;
  }
}

.upf p {
  color: #228B22;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
}

@media (min-width: 992px){
  .creditgalore {
    background-image: url(./assets/credgalore.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 190px 20px;
  }
}

@media (max-width: 767.98px){
  .creditgalore {
    background-image: url(./assets/ysyc.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px;
  }
}

@media (min-width: 992px){
  .hob {
    background-image: url(./assets/hob.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px;
  }

  .bill-con h2,
  .wallet-hero h2,
  .bills-payment h2,
  .opt-payment h2,
  .smart-money h2 {
    color: #000000;
    font-size: 65px;
    font-weight: 600;
    line-height: 78px;
    font-family: syne-bold;
  }
}

@media (max-width: 767.98px){
  .hob {
    background-image: url(./assets/hob.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 20px;
  }

  .bill-con h2,
  .wallet-hero h2,
  .opt-payment h2,
  .smart-money h2,
  .bills-payment h2 {
    color: #000000;
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    font-family: syne-bold;
  }
}

.hob-bg {
  background: #23A323;
  color: #fff;
  font-size: 15px;
  line-height: 19px;
  font-weight: 500;
  padding: 14px 34px;
  border-radius: 78px;
}

.nhc {
  background-color: #fff;
  padding: 100px 20px;
}

.bill-con {
  background: #F2FCF2;
  padding: 100px 20px;
}

.auto-bills {
  background-color: #fff;
  padding: 100px 0px;
}

.btn-auto,
.btn-auto:hover {
  background: #F2FCF2;
  color: #23A323;
  border-color: #F2FCF2;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 40px;
}

@media (min-width: 992px){
  .auto-card {
    border-right: 2px solid #D1D5DB;
    padding: 15px 26px;
    height: 200px;
  }
}

@media (max-width: 767.98px){
  .auto-card {
    padding: 15px 26px;
  }
}

.auto-card h4 {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  line-height: 25px;
  font-family: syne-bold;
}

.getting-started {
  padding: 150px 20px 60px;
}

.rgb {
  background-image: url(./assets/rgb.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 20px;
}

.wallet-hero {
  padding: 100px 20px;
  background-color: #fff;
}

.wallet-hero p,
.opt-payment p,
.smart-money p {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.srr {
  background: #fff;
  padding: 100px 20px;
}

@media (min-width: 992px){
  .srr-cards {
    background-color: #FF823B;
    padding: 100px 50px;
    border-radius: 20px;
    min-height: 765px;
  }

  .credit-card h2 {
    font-size: 84px;
    font-weight: 700;
    line-height: 102px;
    color: #fff;
    font-family: syne-bold;
  }

  .credit-card {
    background-image: url(./assets/accessto.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px;
    border-radius: 20px;
    min-height: 688px;
  }
}

@media (max-width: 767.98px){
  .srr-cards {
    background-color: #FF823B;
    padding: 100px 50px;
    border-radius: 20px;
  }

  .credit-card h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 55px;
    color: #fff;
    font-family: syne-bold;
  }

  .credit-card {
    background-image: url(./assets/accessto.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 50px;
    border-radius: 20px;
    /* min-height: 688px; */
  }
}

.srr-cards p {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.credit-card p,
.grabhargon p {
  font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

.slider-img img {
  object-position: center;
  object-fit: cover;
  height: 690px;
}

.bills-payment {
  background-image: url(./assets/backline.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
}

.opt-payment {
  background-image: url(./assets/payopt.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px 20px;
  /* background-position: center; */
}

@media (min-width: 992px){
  .smart-money {
    background-image: url(./assets/smartmoney.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 454px 20px;
    background-position: center;
  }
}

@media (max-width: 767.98px){
  .smart-money {
    background-image: url(./assets/ysyc.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 20px;
    background-position: center;
  }
}

.srr-cs {
  margin-top: -75px;
  background: #fff;
  color: #23A323;
  font-size: 10px;
  padding: 10px 22px;
  border-radius: 60px
}

.grabhargon {
  background-image: url(./assets/dwl.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 42px 20px;
  background-position: center;
}

.loginleft {
  background-image: url('./assets/pattern.png');
  background-repeat: no-repeat!important;
  background-size: cover!important; 
  background-position: center;
}

.half, .half .container > .row {
  height: 100vh;
}

@media (max-width: 991.98px) {
  .half .bg {
    height: 500px; 
  }
}

.half .contents, .half .bg {
  width: 50%; 
}

.half .bg {
  background-size: cover;
}

@media (max-width: 767.98px){
  .half .contents, .half .bg {
    width: 100%; 
  }
}

.login-form h3 {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.login-form .form-control {
  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 3px;
  color: #888;
  font-size: 12px;
  padding: 16px;
}

.forgot-p .form-check-label {
  color: #6B7280;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.forgot-p h6 {
  color: #228B22;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
}

.forgot-p .form-check-input[type=checkbox] {
  border-radius: 0;
}

.login-form p {
  color: #000;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

.form-check-input:checked {
  background-color: #228B22;
  border-color: #228B22;
}

.login-form .form-text {
  color: #9CA3AF;
  font-size: 10px;
  float: right!important;
}

.login-form h4 {
  color: #808080;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
}

@media (min-width: 992px) {
  .otp-form {
    width: 65px !important;
    height: 63px;
    border: 1px solid #E5E7EB !important;
    text-align: center;
    font-size: 24px !important;
    font-weight: bold !important;
    color: #228B22 !important;
    margin: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .otp-form {
    width: 45px !important;
    height: 40px;
    border: 1px solid #E5E7EB !important;
    text-align: center;
    font-size: 24px !important;
    font-weight: bold !important;
    color: #228B22 !important;
  }
}

.sign-form h2 {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.sign-form h6,
.sign-form p {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.login-cards {
  background: #FAFAFA;
  padding: 30px 30px;
  border-radius: 16px;
  border: 1px solid #FAFAFA;
  cursor: pointer;
  margin-bottom: 30px;
}

.login-cards:hover {
  border: 1px solid #328A28;
  background: #FAFAFA;
  padding: 30px 30px;
  border-radius: 16px;
  box-shadow: 0px 4px 20px 0px #85858514;
}

.login-cards p {
  color: #9CA3AF;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}

.login-cards h3 {
  color: #020518;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.login-cards .bi:hover {
  color: #179942;
}

.login-cs {
  background: #228B22;
  color: #fff;
  font-size: 10px;
  padding: 5px 12px;
  border-radius: 52px;
  margin-top: -37px;
}